.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 80%;
}

.featureSvg {
  height: 45px;
  width: 45px;
  object-fit: contain;
  margin-right: 16px;
}

.arrow_button_wrap {
  color: #fff;
  background-color: #0e1a2f;
  border-radius: 40px;
  padding: 16px 32px;
  line-height: 24px;
  transition: all 0.2s;
  display: inline-block;
  text-decoration: none !important;
  align-self: center;
}

.image_arrow:hover {
  /* transform: translate3d(8px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d; */
}
.flexed_button_content {
  align-items: center;
  display: flex;
}
.space_horizontal_tiny {
  width: 16px;
  display: inline-block;
}
.arrow_button_wrap:hover {
  color: #fff;
  background-image: linear-gradient(270deg, #8ab8f9, rgba(14, 26, 47, 0.8));
}
.image_arrow {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.card__link {
  border: 1px solid #5a5f71a3;
  border-radius: 12px;
  padding: 16px;
  width: 100% !important;
  flex: none !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.row {
  display: grid;
  width: 100%;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  padding: 0 64px;
}
.card__link:hover {
  border: 1px solid #000;
}
[data-theme="dark"] .card__link:hover {
  border: 1px solid #fff;
}
@media screen and (max-width: 960px) {
  .row {
    grid-template-columns: 1fr;
  }
}

.content {
  text-align: left;
  width: 80%;
}
