/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.arrow_button_wrap {
  color: #fff;
  background-color: #0e1a2f;
  border-radius: 40px;
  padding: 16px 32px;
  line-height: 24px;
  transition: all 0.2s;
  display: inline-block;
  text-decoration: none !important;
}

.image_arrow:hover {
  /* transform: translate3d(8px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d; */
}
.flexed_button_content {
  align-items: center;
  display: flex;
}
.space_horizontal_tiny {
  width: 16px;
  display: inline-block;
}
.arrow_button_wrap:hover {
  color: #fff;
  background-image: linear-gradient(270deg, #8ab8f9, rgba(14, 26, 47, 0.8));
}
.image_arrow {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.custom__bg {
  background: radial-gradient(circle, #feeaea 0%, #92befc 100%);
  padding: 4rem 0;
  text-align: center;
}

[data-theme="dark"] .custom__bg {
  background: radial-gradient(circle, #0e1a2f 0%, #8ab8f9 100%);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
