/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.footer--dark {
  background-color: #0e1a2f !important;
}

.footerLogoLink_node_modules-\@docusaurus-theme-classic-lib-theme-Footer-Logo-styles-module,
.footerLogoLink_BH7S {
  opacity: 1 !important;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00214d;
  --ifm-color-primary-dark: #001e45;
  --ifm-color-primary-darker: #001c41;
  --ifm-color-primary-darkest: #001736;
  --ifm-color-primary-light: #002455;
  --ifm-color-primary-lighter: #002659;
  --ifm-color-primary-lightest: #002b64;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ffffff;
  --ifm-color-primary-dark: #e6e6e6;
  --ifm-color-primary-darker: #d9d9d9;
  --ifm-color-primary-darkest: #b3b3b3;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] .navbar,
[data-theme="dark"] .docMainContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Main-styles-module,
[data-theme="dark"] .sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module,
[data-theme="dark"] .docMainContainer_gTbr,
[data-theme="dark"] .sidebar_njMd,
[data-theme="dark"] .sidebarViewport_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-styles-module,
[data-theme="dark"] .sidebarViewport_Xe31,
[data-theme="dark"] .main-wrapper {
  background-color: #0e1a2f !important;
}

.navbar__link--active,
.menu__link--active {
  font-weight: bold !important;
}

.footer__link-item:hover,
article a,
.table-of-contents__link--active {
  color: #0e1a2f !important;
  font-weight: bold !important;
}

[data-theme="dark"] .footer__link-item:hover,
.footer__link-item:hover,
[data-theme="dark"] article a,
[data-theme="dark"] .table-of-contents__link--active {
  color: #ffffff !important;
}

.card {
  background-color: transparent !important;
}

[data-theme="dark"] .card {
  color: white !important;
}

.card {
  color: #0e1a2f !important;
}

.sidebarItemLinkActive_I1ZP,
.sidebarItemLinkActive_node_modules-\@docusaurus-theme-classic-lib-theme-BlogSidebar-Desktop-styles-module {
  font-weight: bold !important;
}

.DocSearch-Hit[aria-selected="true"] a {
  background-color: #39475e !important;
}

footer.row.docusaurus-mt-lg {
  margin-top: 0 !important;
}

@media (max-width: 996px) {
  footer .col {
    flex-basis: content;
  }
}

main>.container>.row>.col:first-child {
  max-width: 780px !important;
}

nav {
  font-size: 0.9em;
}

nav .menu__list {
  margin-top: 0.15em;
}

ul .menu__list {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 0px !important;
  margin-left: 12px !important;
}

[data-theme="dark"] ul .menu__list {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

[data-theme="dark"] footer {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}